.register-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #7C74FC;
}

.register-container .register-container-img {
  max-width: 300px;
  max-height: 300px;
}

.register-container .register-with-container {
  display: flex;
  padding: 30px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 30vw;
}


.register-container .form-container {
  display: flex;
  align-items: center;
  padding: 50px 0;
  justify-content: space-between;
  flex-direction: column;
  width: 30vw;
  height: 40vh;
  flex-wrap: wrap;
  border-radius: 6px; 
  min-width: 35vh;
  border: 1px solid #242424;
  background-color: #fff;
}