.card-tools {
  display: flex;
  justify-content: flex-end;
  justify-items: left;
  
}

.card-tools .card-icon {
  color: #7C74FC;
  margin-left: 6px;
}

.card-draw-img {
  max-width: 100%;
  height: 30vh;
}


.card-root {
  min-height: 70vh;
  max-width: 24vw;
}


@media only screen and (max-width: 1024px) {
 .card-root {
   min-height: 80vh;
   max-width: 80vw;
 }
}