.new-draw-root {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
}

.new-draw-root .form-container {
  display: flex;
  align-self: center;
  justify-content: center;
}

.new-draw-root .form-container form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
}

.new-draw-root .form-container .form-radio-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.draw-preview {
  margin-top: 30px;
}